{% extends 'layout.html' %}

{% block body %}
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                  	<div class="stats">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="jackpot single-stat">
                                    <p><i class="fa fa-arrow-up"></i> Double <span class="pull-right"><i class="fa fa-dollar num-jackpot">0.00</i></span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="deposit single-stat">
                                    <p><i class="fa fa-dollar"></i> Deposit <span class="pull-right"><i class="fa fa-dollar num-deposit">0.00</i></span></p>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="players single-stat">
                                    <p><i class="fa fa-gamepad"></i> Players <span class="pull-right num-player-count">0</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="win-chane single-stat">
                                    <p><i class="fa fa-trophy"></i> Win % <span class="pull-right num-win-percent">0.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="row mt">
                          						<div class="col-lg-6 col-md-6 col-sm-6 mb">
							<div class="steps pn">
							    <input id="op1" name="op1" type="checkbox" checked="">
							    <label for="op1">Click Deposit</label>
							    <input id="op2" name="op2" type="checkbox" checked="">
							    <label for="op2">Enter your coins</label>
							    <input id="op3" name="op3" type="checkbox" checked="">
							    <label for="op3">Wait for them to double!</label>
							    <input type="submit" value="Start Doubling down now!" id="submit">
							</div>
						</div>


						<div class="col-md-6 col-sm-6 mb">
							<!-- REVENUE PANEL -->
							<div class="darkblue-panel pn">
								<div class="darkblue-header">
									<h5>REVENUE</h5>
								</div>
								<div class="chart mt">
									<div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
								</div>
								<p class="mt"><b>$ 17,980</b><br/>Month Income</p>
							</div>
						</div><!-- /col-md-4 -->
                      </div>

{#                      <div align="center"><button class="btn btn-block btn-success">Double Now!</button></div>#}
                  <div class="row mt">



                      <div class="content-panel">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Current Orders</h4>
	                  	  	  <hr>
		                      <table class="table">
		                          <thead>
		                          <tr>
		                              <th>Currency</th>
		                              <th>Address</th>
		                              <th>Amount in</th>
		                              <th>Amount out</th>
                                      <th>Time created</th>
                                      <th>Time Filled</th>
		                          </tr>
		                          </thead>
		                          <tbody>
		                          <tr>
		                              <td>BTC</td>
		                              <td>1bdafj4432jfdsgdsfd3252456gfdsg4hedgfd</td>
		                              <td>0.02354</td>
		                              <td>0.04523</td>
                                      <td>08.14.2015</td>
                                      <td>08.14.2015</td>
		                          </tr>
		                          </tbody>
		                      </table>
	                  	  </div>



                          </div>

                      <div class="row mt">
                      <!--CUSTOM CHART START -->
                      <div class="border-head">
                          <h3>VISITS</h3>
                      </div>
                      <div class="custom-bar-chart">
                          <ul class="y-axis">
                              <li><span>10.000</span></li>
                              <li><span>8.000</span></li>
                              <li><span>6.000</span></li>
                              <li><span>4.000</span></li>
                              <li><span>2.000</span></li>
                              <li><span>0</span></li>
                          </ul>
                          <div class="bar">
                              <div class="title">JAN</div>
                              <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">FEB</div>
                              <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">MAR</div>
                              <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">APR</div>
                              <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
                          </div>
                          <div class="bar">
                              <div class="title">MAY</div>
                              <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
                          </div>
                          <div class="bar ">
                              <div class="title">JUN</div>
                              <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
                          </div>
                          <div class="bar">
                              <div class="title">JUL</div>
                              <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
                          </div>
                      </div>
                      <!--custom chart end-->
					</div><!-- /row -->

                      <div class="row mt">
                      <!-- SERVER STATUS PANELS -->

                      	

                    
                    				
					<div class="row">
						<!-- TWITTER PANEL -->



						
					</div><!-- /row -->



					

					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  

{% endblock %}