{% extends 'layout.html' %}

{% block body %}

<div class="content-panel" align="center">

<p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p>


    <div class="user_box box">

            <div class="user_box_in">

                <div class="div1">
<p>user </p>
<p></p>
<p>deposit address </p>
<p>referral link</p>
<p></p>
<p>invested </p>
<p>paid</p>
<p></p>
<p>referral commission</p>
<p>referral transactions total </p>


</div><div class="div2"><p>3ELuzanbCPDoFPRvjpjiFwCATb62QzRwo9</p>
                <p></p>
                <p>3NqrBXMqXergfKmUFP26rAvNkvzwDCdp3v </p>
                <p>http://honestdoubler.com?r=k4sqwg8 </p>
                <p></p>
                <p>0.02189757</p>
                <p>0.01827534</p>
                <p></p>
                <p>0.00056538</p>
                <p>2</p></div>

            </div>


        </div>
    </div>
</div>
<div class="col-md-12">
	                  	  <div class="content-panel">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Transaction History</h4>
	                  	  	  <hr>
		                      <table class="table">
		                          <thead>
		                          <tr>
		                              <th>#</th>
		                              <th>First Name</th>
		                              <th>Last Name</th>
		                              <th>Username</th>
		                          </tr>
		                          </thead>
		                          <tbody>
		                          <tr>
		                              <td>1</td>
		                              <td>Mark</td>
		                              <td>Otto</td>
		                              <td>@mdo</td>
		                          </tr>
		                          <tr>
		                              <td>2</td>
		                              <td>Jacob</td>
		                              <td>Thornton</td>
		                              <td>@fat</td>
		                          </tr>
		                          <tr>
		                              <td>3</td>
		                              <td>Larry</td>
		                              <td>the Bird</td>
		                              <td>@twitter</td>
		                          </tr>
		                          </tbody>
		                      </table>
	                  	  </div><!-- --/content-panel ---->
	                  </div>
</div>

{% endblock %}